
    body {
        font-family: "Lato", sans-serif;
    }

    #navbar{
      background-color:rgb(214, 59, 3);
      padding: 15px 10px;
      /*adds transition when the padding is decreased*/
      position: fixed;
      width: 100%;
        height: 70px;
     
      top: 0; 
      overflow: hidden;
      
      /* box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5); */
  }
 
  #navbar a{
      text-decoration: none;
  }
  #navbar .eps{
    position: absolute;
    top: -35%;
    margin-left: 35%;
  }
  #navbar #logo{
      font-size: 45px;
      color: white;
      width: 100%;
      font-weight: bold;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin-left: 45.5%;
        align-items: center;
        justify-content: center;
        font-family: tahoma;
        margin-bottom: 30px;
     
  }
  .pawn{
    font-size: 45px;
      color: white;
      width: 100%;
      font-weight: bold;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 10PX;
        align-items: center;
        justify-content: center;
        font-family: tahoma;
        margin-bottom: 30px;
  }
  .pawn .eps{
    position: absolute;
   padding-bottom: 50px;
    margin-left: 35%;
  }
 .Searchbar {
  

  }

 svg{
   color: black;
   height: 10%;
   top: 3%;
   right: 15%;
   height: 28px;
   font-weight: bolder;
   cursor: pointer;
   position: fixed;
    right: 10%;
 }
  .sidebar {
    height: 100%;
    width: 18%;
    position: fixed;
    left: 0;
    z-index: 1;
    top: 0;
    right: 10px;
    background-color: #111;
    padding-top: 60px;
    color: white;
    display: block;
    overflow: hidden;
  }
  .sidebar a {
    padding: 5px 5px 5px 40px;
    text-decoration: none;
    font-size: 25px;
    color:white;
    display: block;
    font-family: arial;
    font-size: 15px;
    top:25px;
    position:relative;
    text-align: center;
    margin-left: 30%;
  }
  
  #mysidebar a:hover {
    color: grey;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: white;
    text-align: center;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 25px;
    font-weight: 500px;
    cursor: pointer;
    overflow: hidden;
    color: white;
    padding: 0px 5px;
    margin-top: 5%;
    background-color: transparent;
    margin-left: 5%;
    border:none;
    outline: none;
   position: fixed;
    top: 15px;
  }
  
  .openbtn:hover {
    background-color: none;
    transform: translateY(3px);
    
  }
  
  #main {
    transition: margin-left .5s;
    padding: 13px;
    position: absolute;
    left: 7%;
   
  }
  /* .sidebar .tabs{
    top: 11%;
    position: absolute;
    margin-left: 13%;
  }
  .sidebar .active{
    background-color: grey;
    padding: 10px;
  } */
 .searchbar input[type=text] {
    width: 110px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    position: fixed;
    top: 3%;
    right: 9%;
    height: 28px;
    border-radius: 20px;
    outline: none;
    border: none;
    padding-left:13px;
    padding-right:35px;
    padding-bottom: 3px;
  }
  
  /* When the input field gets focus, change its width to 100% */
  .searchbar input[type=text]:focus {
    width: 15%;
    position: absolute;
    top: 3%;
    right: 9%;
    overflow-y: hidden;
    padding-right:35px;
    padding-left:13px;
    padding-right:35px;
    padding-bottom: 3px;
  } 
  
  .sidebar .logo{
    visibility: visible;
    position: absolute;
    top: 0;
  }
  
  @media screen and (max-width:768px) {
    .sidebar {
    height: 100%;
    width: 33%;
    left: 0;
    z-index: 1;
    top: 0;
    background-color: #111;
    overflow-y: hidden;
    padding-top: 60px;
    color: white;
  }
  .sidebar a {
    padding: 5px 5px 5px 40px;
    text-decoration: none;
    color:white;
    display: block;
    font-family: arial;
    font-size: 10px;
    top: 10px;
    position:relative;
    text-align: center;
    margin-left: 30%;
  }
  #navbar{
    background-color:rgb(214, 59, 3);
    padding: 15px 10px;
    position: fixed;
    width: 110%;
    height: 17px;
    top: 0; 
    }
    #navbar #logo{
      font-size: 20px;
      color: white;
      width: 100%;
      font-weight: bold;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 10px;
      margin-left: 42%;
      align-items: center;
      justify-content: center;
      font-family: tahoma;
      
  }

    
      .pawn {
        font-size: 20px;
      color: white;
      width: 100%;
      font-weight: bold;
      align-items: center;
      justify-content: center;
      position: relative;
      top: -16px;
      margin-left: 15px;
      align-items: center;
      justify-content: center;
      font-family: tahoma;
      
      }
      #navbar .pawn .eps{
        position: absolute;
        top: -11px;
        height:90px;
        width:90px;
        left: -33px;
      }
      .openbtn {
        position: absolute;
        top:-2px;
        background-color: transparent;
      }
     .searchbar input[type=text] {
        width: 10%;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        position: fixed;
        top: 2%;
        right: 4%;
        height: 20px;
        border-radius: 20px;
        outline: none;
        border: none;
        padding-left:10px;
        font-size: 10px;
        padding-right:20px;
        padding-bottom: 2px;
      }
      
      /* When the input field gets focus, change its width to 100% */
     .searchbar input[type=text]:focus {
        width: 17%;
        position: absolute;
        top: 2%;
        right: 9%;
        overflow-y: hidden;
        right: 4%;
        height: 20px;
        font-size: 10px;
        padding-left:10px;
        padding-right:20px;
        padding-bottom: 2px;
      }
      .Searchbar svg{
        top: 3%;
        position: absolute;
        color: black;
        right: 30px;
        height: 12px;
        font-weight: bolder;
        cursor: pointer;
      }
  }
  @media (min-height:700px), (max-width:400px){
    #navbar .pawn .eps{
      position: absolute;
      top: -13px;
      height:90px;
      width:90px;
      left: -31px;
    }
    .pawn {
      font-size: 20px;
    color: white;
    width: 100%;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -11px;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
    font-family: tahoma;
    
    }
    .Searchbar svg{
      top: 2%;
      position: absolute;
      color: black;
      right: 18px;
      height: 12px;
      font-weight: bolder;
      cursor: pointer;
    }
    
    #navbar #logo{
      font-size: 12px;
      color: white;
      width: 100%;
      font-weight: bold;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 1.5px;
      margin-left: 45%;
      align-items: center;
      justify-content: center;
      font-family: tahoma;
      
  }
  .searchbar input[type=text] {
    width:4px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    position: fixed;
    top: 1.5%;
    right: 4%;
    height: 15px;
    border-radius: 20px;
    outline: none;
    border: none;
   
    padding-bottom: 3px;
  }
  
  /* When the input field gets focus, change its width to 100% */
 .searchbar input[type=text]:focus {
    width: 6%;
    position: absolute;
    height: 20px;
    top: 1%;
    right: 4%;
    overflow-y: hidden;
    padding-right:35px;
    padding-left:13px;
    padding-right:20px;
    padding-bottom: 3px;
  } 
  ::-webkit-input-placeholder{
    visibility: hidden;
  }
  
  }
